.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    margin: 0px auto 92px;
    max-width: 1184px;
}

@media screen and (max-width:1279px) {
    .photo-grid {
        grid-gap: 14px;
        max-width: 928px;
    }
}

@media screen and (max-width:1023px) {
    .photo-grid {
        grid-gap: 16px;
        max-width: 720px;
        margin-bottom: px;
    }
}

@media screen and (max-width:767px) {
    .photo-grid {
        grid-row-gap: 12px;
        max-width: 288px;
        margin-bottom: 64px;
    }
}