.places {
    margin: 0px auto 92px;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (max-width:1279px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width:1023px) {
    .places {
        max-width: 720px;
        gap: 73px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width:767px) {
    .places {
        max-width: 320px;
        gap: 50px;
        margin-bottom: 64px;
    }
}
