.lead__title {
    max-width: 720px;
    margin: 0px 0px 32px 0px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__title {
        margin: 0px 0px 16px;
        font-size: 40px;
        line-height: 110%;
        max-width: 288px;
    }
}