.cover__background {
    background-image: url('../../../images/cover-trains.jpg');
    min-height: 740px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover__background:hover::before {
    opacity: 0.8;
    transition: opacity 2s ease;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        min-height: 200px;
    }
}